@import 'Chat.css';
body {
    background-image: url("https://i.pinimg.com/originals/9c/ce/d3/9cced3264a1e7b144467f506923ebb0b.jpg");
    background-size:cover;
}
.text_size{
    font-size: 150%;
}
ul {
    list-style-type:none;
}
.top-header .header-top{
    text-align: left;
    display:flex;
}
.top-header .header_column{
    width: 33%;

}
.top-header .header_column:last-child{
    text-align:right;
}

.top-header .header_column:nth-child(2) {
    text-align:center;
}
.top-header{
    background-color: aliceblue;
    color: black;
}

.tab-bar {
    background-color:antiquewhite;
    position: fixed;
    bottom:0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding:10px 30 px 5px 30 px;
}
.tab-bar .tab-bar__tab {
    display:flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: brown;
    transition: transform .3s linear;
    width: 33.3%;
}

.bottom-header .header-bottom{
    text-align:left;
    display:flex;
}
.bottom-header .bottom_column{
    width: 33%;
}
.bottom-header .bottom_column:last-child{
    text-align:center;
}

.bottom-header{
    background-color: aliceblue;
    color: black;
}

